.sheet {
    height: 1400px;
    width: 1000px;
    background: lightgray;
    margin-top: 150px;
    margin-bottom: 150px;
    border-radius: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: #1f1f1f;
    display: flex;
    flex-direction: column;
  }